table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
tr:nth-child(even) {
    background-color: #dddddd;
  }

h3 {
  color:coral;
}

.hardware {
  color:darkgreen;
}

#p1 {
  color:deeppink;
}

#p2{
  font-family: "Times New Roman", Times, serif;
  font-weight:600;
  font-style: italic;
  font: size 150%;
  color:skyblue
}
div h5 {
  color:lime;
}

#twitch {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}