.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'left left middle middle right right'
    'footer footer footer footer footer footer';
}

.header {
  grid-area: header;
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

.left,
.middle,
.right {
  padding: 10px;
 
}

.left {
  grid-area: left;

}

.middle {
  grid-area: middle;

}

.right {
  grid-area: right;
}

.footer {
  grid-area: footer;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
tr:nth-child(even) {
    background-color: #dddddd;
  }

h3 {
  color:coral;
}

.hardware {
  color:darkgreen;
}

#p1 {
  color:deeppink;
}

#p2{
  font-family: "Times New Roman", Times, serif;
  font-weight:600;
  font-style: italic;
  font: size 150%;
  color:skyblue
}
div h5 {
  color:yellow;
}
.join {
  text-align: center;
  background-image: url("stars6.png");
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}

#twitch {
  font-weight:900;
  color:black;
  background-color: lightgray;
  width: 300px;
  border: 15px solid purple;
  padding: 50px;
  margin: 20px;
}

#img1 {
  float: right;
}

#img2 {
  float: left;
}

.listBar {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.listBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.listBar li {
  float: left;
  border-right:1px solid #bbb;
}

.listBar li:last-child {
  border-right: none;
}

.listBar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.listBar li a:hover {
  background-color: greenyellow;
}

@media screen and (min-width: 600px) {
  .left {width: 600px; float: left;}
  .middle {margin-left: 620px;}
}