#sysinfo {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
#sysinfo td, #sysinfo th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
#sysinfo tr:nth-child(even) {
    background-color: #dddddd;
  }